
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.search-result {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
  background-color: #fff;
  margin-bottom: 10px;
}
.search-result-user-icon, .search-results-title {
  display: grid;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  font-weight: bolder;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}
.search-result > div, .git-follower,  .followers-count, .followers-label {
  display: inline;
}
.followers-label {
  font-size: larger;
  font-weight: bold;
}
.git-follower > div {
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); 
  padding: 2px;
  .follower-name {
    font-size: xx-small;
  }
}

.followers-load-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    background-color: #e74c3c;
    color: white;
  }
}
.search-result-user {

}
